
Serie_2/test_student.py
Serie_2/serie2_bericht.synctex.gz
Serie_2/__pycache__/rhs.cpython-37.pyc
Serie_2/__pycache__/block_matrix.cpython-37.pyc
Serie_2/.DS_Store
.DS_Store
Serie_2/serie2_bericht.aux
Serie_2/serie2_bericht.bbl
Serie_2/serie2_bericht.blg
Serie_2/serie2_bericht.log
Serie_2/serie2_bericht.toc
Serie_2/serie2_bericht.toc
Serie_2/serie2_bericht.log
Serie_2/serie2_bericht.aux
*.pyc
*.gz
Serie_3/tmp
*.pygstyle
*.pygtex
